services:
  neo4j:
    image: neo4j:5
    container_name: ads-scholargraph-neo4j
    ports:
      - "7474:7474"
      - "7687:7687"
    environment:
      - NEO4J_AUTH=neo4j/${NEO4J_PASSWORD}
    volumes:
      - neo4j_data:/data

  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    container_name: ads-scholargraph-api
    env_file:
      - .env
    environment:
      - NEO4J_URI=bolt://neo4j:7687
      - NEO4J_USER=neo4j
    depends_on:
      - neo4j
    ports:
      - "8000:8000"

  streamlit:
    build:
      context: .
      dockerfile: Dockerfile.streamlit
    container_name: ads-scholargraph-ui
    env_file:
      - .env
    environment:
      - API_BASE_URL=http://api:8000
    depends_on:
      - api
    ports:
      - "8501:8501"

volumes:
  neo4j_data:
    name: neo4j_data
